params {
  resource_dir = "/hpc/pmc_vanboxtel/data/homo_sapiens.GRCh38.GATK.illumina"
  genomes {
    "GRCh38" {
      fasta = "${params.resource_dir}/Homo_sapiens_assembly38.fasta"
      gatk_known_sites = [
        "${params.resource_dir}/GATK_bundle_GRCh38/1000G_phase1.snps.high_confidence.hg38.vcf.gz",
        "${params.resource_dir}/GATK_bundle_GRCh38/dbsnp_146.hg38.vcf.gz",
        "${params.resource_dir}/GATK_bundle_GRCh38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
      ]
      dbsnp = "${params.resource_dir}/GATK_bundle_GRCh38/dbsnp_146.hg38.vcf.gz"
      dbnsfp = "${params.resource_dir}/dbNSFPv3.2/dbNSFP3.2a.txt.gz"
      cosmic = "${params.resource_dir}/Cosmic_v89/CosmicCodingMuts.vcf.gz"
      gonl = "${params.resource_dir}/GoNL_release5_liftover/gonl.snps_indels.r5.liftover.hg38.sorted.vcf.gz"
      interval_list = "${params.resource_dir}/genome.interval_list"
      freec_chr_len = "${params.resource_dir}/Homo_sapiens_assembly38.len"
      freec_chr_files = "${params.resource_dir}/chr_files"
      freec_mappability = "${params.resource_dir}/mappability_tracks/out100m2_hg38.gem"      
    }
  }
}
